.coreSearch,
.scrollContent {
  -webkit-app-region: no-drag;
}

.canDrag {
  // -webkit-app-region: drag;
}

.swiper-scrollbar {
  // width: 10px;
}

.marketContentItem:nth-child(2n - 1) {
  margin-right: 20px;
}

.marketContentItem {
  margin-bottom: 6px;
}

.scrollStyle::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollStyle::-webkit-scrollbar-track {
  background: none;
}

.scrollStyle::-webkit-scrollbar-track-piece {
  opacity: 0;
}

.scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(92, 110, 130, 0.6);
}

.searchStyle::-webkit-scrollbar {
  width: 0 !important;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}

.searchItemName i {
  font-style: normal;
  color: #f60;
}