.coreSearch, .scrollContent {
  -webkit-app-region: no-drag;
}

.swiper-scrollbar {
  // width: 10px;
}

.marketContentItem:nth-child(2n - 1) {
  margin-right: 20px;
}

.marketContentItem {
  margin-bottom: 6px;
}