/* 设置滚动条的样式 */
.bg::-webkit-scrollbar {
  width: 4px;
}
/* 滚动槽 */
.bg::-webkit-scrollbar-track {
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
.bg::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.bg::-webkit-scrollbar-thumb:window-inactive {
  background: #ccc;
}
